.alert {
    position: relative;
    // margin-bottom: $margin-small;
    width: 100%;
    padding: $alert-padding;
    padding-right: $alert-padding * 2 + 1rem;
    background-color: $white;
    border-radius: $alert-border-radius;
    border: $alert-border-width solid;
}

.alert-header { color: inherit }

// .alert-disappear {
    
// }

.alert-close {
    position: absolute;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
    height: 100%;
    // top: $modal-padding;
    top: 0;
    right: $modal-padding;
    color: rgba($light, .75);
    // width: 2rem;
    // min-width: 2rem;
    // height: 2rem;
    // color: inherit;
    // font-size: 18pt;
    // border-style: none;
    // border-radius: $radius-full;
    // background-color: rgba($secondary, .05);
    // cursor: pointer;
    @extend %close;
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        // border-color: $value;
        // background-color: rgbaToRgb(rgba($value, .25));
        background-color: $value;
        color: $light;
    }
}