.badge {
    display: inline-block;
    padding: $badge-padding-y $badge-padding-x;
    border-radius: $badge-border-radius;
    color: $badge-color;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

    &:empty {
        display: none;
    }

}

@each $color, $value in $theme-colors {
    .badge-#{$color} {
        color: $value;
        background-color: rgbaToRgb(rgba($value, .25));
    }
}

.bt .badge {
    position: relative;
    top: -2px;
}