// Botão padrão
.bt {
    display: inline-block;
    cursor: if($button-cursor, pointer, null);
    color: $body-color;
    background-color: transparent;
    border: $button-border-width solid transparent;
    // font-family: $font-main;
    font-weight: $font-weight-600;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    @include transition($button-transition);
    // @include button-size($bt-padding-x, $bt-padding-y, $bt-font-size, $bt-border-radius);
    @include button-size($bt-padding-x, $bt-padding-y, $bt-font-size, $bt-border-radius);
    
    &:hover { background-color: $gray-2 }
    &.bt-round { border-radius: $bt-padding-y * 2 }

}

// Botão colorido
@each $color, $value in $theme-colors {
    .bt-#{$color} {
        @include button-color($color, $value);
        &:focus { @include box-shadow-focus($value) }
    }
}

// Botão vazado
@each $color, $value in $theme-colors {
    .bt-out-#{$color} {
        @include button-color-out($color, $value);
        &:focus {
            color: $light;
            background-color: $value !important;
            @include box-shadow-focus($value);
        }
    }

}

// Botão grande
.bt-lg {
    // @include button-size($bt-padding-x-lg, $bt-padding-y-lg, $bt-font-size-lg, $bt-border-radius-lg);
    @include button-size($bt-padding-x-lg, $bt-padding-y-lg, $bt-font-size-lg, $bt-border-radius);
    &.bt-round { border-radius: $bt-padding-y-lg * 2 }
}

// Botão pequeno
.bt-sm {
    @include button-size($bt-padding-x-sm, $bt-padding-y-sm, $bt-font-size-sm, $bt-border-radius);
    // @include button-size($bt-padding-x-sm, $bt-padding-y-sm, $bt-font-size-sm, $bt-border-radius-sm);
    &.bt-round { border-radius: $bt-padding-y-sm * 2 }
}

// Botão bloco
.bt-block {
    display: block;
    width: 100%;
    // & + button { margin-top: $margin-small }
}

// .bt-flat {
//     color: currentColor;
//     background-color: transparent !important;
//     &:hover, &:focus {
//         background-color: $light !important;
//         box-shadow: none;
//     }
// }