.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: $card-height-min;
    border: $card-border-width solid $gray-2;
    background-color: $card-background-color;
    background-clip: border-box;
    word-wrap: break-word;
    @include card-size(0, 0, $card-font-size, $card-border-radius);

    // & + & { margin-top: $margin }

}

.card-header {
    padding: $card-padding;
    font-weight: 600;
    // background-color: $light;
    border-bottom: $card-border-width solid $gray-1;
    &:first-child { @include card-radius-top($card-border-radius) }
}

.card-title {
    font-family: $font-main;
    font-size: $text-size-large;
    font-weight: $font-weight-500;
    margin-bottom: 0;
}

.card-body {
    flex: 1 1 auto;
    min-height: $height-min;
    padding: $card-padding;
}

.card-footer {
    // display: flex;
    // flex-direction: column;
    // flex-flow: row wrap;
    padding: $card-padding;
    border-top: $card-border-width solid $gray-1;
    &:last-child { @include card-radius-bottom($card-border-radius) }
}

.card-header + .card-footer {
    border-top: none;
}

.card-cover {
    flex-shrink: 0;
    max-width: 100%;
    width: auto;
    max-height: 50%;
    @include card-radius-top($card-border-radius);
}

// @each $color, $value in $theme-colors {
//     .card-#{$color} { color: $value }
// }