.form-base {
    display: inline-block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    color: $gray-6;
    background-color: $white;
    border: $form-border-width solid $gray-2;
    line-height: 1.5;
    font-weight: 400;
    vertical-align: middle;
    @include form-size($form-padding-x, $form-padding-y, $font-size, $form-border-radius);
    @include transition($form-transition);
    
    &:focus {
        color: $primary;
        border-color: $primary;
        @include box-shadow-focus($primary);
    }

    &.error {
        color: $red;
        border-color: $red;
        @include box-shadow-focus($red);
    }

    &.success {
        color: $green;
        border-color: $green;
        @include box-shadow-focus($green);
    }

    &:disabled {
        opacity: $disabled;
        background-color: $light;
    }

}

select[class=form-base] {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") no-repeat right 0.75rem center/16px 12px;
    @include prefix('appearance', none);
}

input::-webkit-calendar-picker-indicator { display: none }
input[type=date]::-webkit-input-placeholder { visibility: hidden !important }

select.form-base { min-height: calc(1.5em + 0.75rem + 4px) }
select.form-sm { min-height: calc(1.5em + 0.5rem + 3px) }
select.form-lg { min-height: calc(1.5em + 1rem + 2px) }

.form-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
    @include form-size($form-padding-x-sm, $form-padding-y-sm, $font-size-small, $form-border-radius-sm);
}

.form-lg {
    min-height: calc(1.5em + 1rem + 2px);
    @include form-size($form-padding-x-lg, $form-padding-y-lg, $font-size-large, $form-border-radius-lg);
}

.form-block { width: 100% }

.form-labeled {
    position: relative;
    margin-bottom: $form-label-margin-sm;
    > label {
        display: block;
        margin-top: $form-label-margin-lg;
        margin-bottom: $form-label-margin-sm;
        color: $gray-6;
        font-size: $font-size-small;
        transition: $form-transition;
    }
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .form-base {
        width: auto;
        vertical-align: middle;
    }
}

.form-submit {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: $padding-small $padding/2;
    > button { margin-left: $margin-small }
}

::placeholder {
    color: $gray-4;
}

.input {
    &[type=checkbox], &[type=radio] {
        @include prefix('appearance', none);
        &:focus { box-shadow: $form-input-shadow rgba($primary, .25) }
    }
    &[type=checkbox], &[type=radio] {
        width: $form-input-size;
        height: $form-input-size;
        background-color: $gray-1;
        transition: all $form-input-transition;
        &:checked {
            background-color: $primary;
            box-shadow: $form-input-shadow rgba($primary, .25);
        }
    }
    &[type=checkbox] {
        border-radius: $form-input-radius;
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M4 8.5L6.5 11l6-6'/%3e%3c/svg%3e");
        }
    }
    &[type=radio] {
        border-radius: $radius-full;
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }
    }
}

