// @import 'functions/global';

// Pow function
@function pow ($base, $exponent) {

    $result: 1;
    @for $_ from 1 through $exponent {
        $result: $result * $base;
    }

    @return $result;
    
}

// Convert rgba to rgb (white background)
@function rgbaToRgb ($rgba, $background: #fff) {
    
    @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
    
}