*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $margin * $rem-px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-weight: $font-weight-300;
}

h1, .h1 { font-size: 2rem }
h2, .h2 { font-size: 1.8rem }
h3, .h3 { font-size: 1.6rem }
h4, .h4 { font-size: 1.4rem }
h5, .h5 { font-size: 1.2rem }
h6, .h6 { font-size: 1rem }

a, a:focus, a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

// .thin { font-weight: lighter !important }
// .bold { font-weight: bold !important }
// .bolder { font-weight: bolder !important }

@each $color, $value in $theme-colors {
    .bg-#{$color} {
        // @if $value == $dark { color: $light}
        background-color: $value !important;
    }
}

@each $color, $value in $theme-colors {
    .cl-#{$color} {
        color: $value !important;
    }
}

// @each $color, $value in $theme-colors {
//     .bd-#{$color} {
//         border-color: $value;
//     }
// }