.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

%definition-col {
    position: relative;
    width: 100%;
    padding: $col-padding-y $col-padding-x;
}

.col {
    @extend %definition-col;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

@each $breakpoint, $value in $breakpoints {
    @media only screen and (min-width: #{$value}) {
        .col.#{$breakpoint} {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
        @for $number-col from 1 to $number-cols {
            $size: 100%/$number-cols * $number-col;
            .col.#{$breakpoint}-#{$number-col} {
                flex: 0 0 $size;
                max-width: $size;
            }
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    .#{$breakpoint} {
        @extend %definition-col;
    }
    @for $number-col from 1 to $number-cols {
        .#{$breakpoint}-#{$number-col} {
            @extend %definition-col;
        }
    }
}

@for $col from 1 to $number-cols {

    $size: 100%/$number-cols*$col;
    .off-#{$col} { margin-left: $size }

}

.container {
    margin: 0 auto;
    width: $container-width;
}

.container-wide {
    margin: 0 auto;
    width: $container-wide-width;
}

$margins: (
    l: 'left',
    r: 'right',
    t: 'top',
    b: 'bottom',
);
@each $margin, $margin-value in $margins {
    @each $size, $size-value in $sizes {
        .m#{$margin}-#{$size} {
            margin-#{$margin-value}: $size-value * $rem-px;
        }
    }
}

.ml-auto, .mx-auto { margin-left: auto !important }
.mr-auto, .mx-auto { margin-right: auto !important }
.mt-auto, .my-auto { margin-top: auto !important }
.mb-auto, .my-auto { margin-bottom: auto !important }
