.loader-spin {
    display: inline-block;
    width: $loader-size;
    min-width: $loader-size;
    height: $loader-size;
    border: $loader-border-width solid currentColor;
    border-color: transparent;
    border-right-color: unset;
    border-radius: $radius-full;
    background-color: transparent;
    animation: spin $loader-animation-time ease infinite;
}

@-webkit-keyframes spin {
    from {
        transform: rotateZ(0);
    } to {
        transform: rotateZ(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    } to {
        transform: rotateZ(360deg);
    }
}

.loader-pulse {
    position: relative;
    display: inline-block;
    width: $loader-size;
    min-width: $loader-size;
    height: $loader-size;
    border-radius: $radius-full;
    background-color: currentColor;
    transform: scale(0);
    opacity: 1;
    animation: pulse $loader-animation-time ease infinite;
}

@-webkit-keyframes pulse {
    to {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    to {
        transform: scale(1);
        opacity: 0;
    }
}

.loader-sm {
    width: $loader-size-sm;
    min-width: $loader-size-sm;
    height: $loader-size-sm;
}

.loader-lg {
    width: $loader-size-lg;
    min-width: $loader-size-lg;
    height: $loader-size-lg;
}

.progress {
    position: relative;
    display: flex;
    width: 100%;
    height: $progress-height;
    font-size: $progress-font-size;
    background-color: $light;
    border-radius: $progress-border-radius;
    overflow: hidden;
    > .bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: $light;
        text-align: center;
        white-space: nowrap;
        background-color: $primary;
        transition: width $progress-transition;
    }
}