// Mixins gerais

@mixin prefix ($prefix, $value) {
    -webkit-#{$prefix}: $value;
    -moz-#{$prefix}: $value;
    #{$prefix}: $value;
}

@mixin transition ($value) {
    @include prefix('transition', $value);
}

@mixin box-shadow-focus ($color) {
    box-shadow: 0 0 (3px * $phi) (1px * $phi) rgba($color, .25);
}

%background-dark {
    color: $light;
}

%close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: $modal-close-size;
    min-width: $modal-close-size;
    height: $modal-close-size;
    font-size: $text-size-large;
    transition: all $time-fast ease;
    cursor: pointer;
    &:hover, &focus {
        color: currentColor;
    }
}

// Minix de layout de componentes
@import 'mixins/alerts';
@import 'mixins/buttons';
@import 'mixins/cards';
@import 'mixins/forms';
@import 'mixins/modals';