.modal {
    display: none;
    &.open { display: block }
    &.modal-sm { .modal-content { width: 250px } }
    &.modal-md { .modal-content { width: 500px } }
    &.modal-lg { .modal-content { width: 1000px } }
}

.modal-overlay {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($dark, $modal-overlay-alpha);
    overflow: hidden;
    z-index: 100;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: calc(100% - 1rem);
    max-height: calc(100% - 1rem);
    background-color: $modal-color;
    border-radius: $modal-border-radius;
    box-shadow: $shadow rgba($dark, $modal-overlay-alpha);
}

.modal-header {
    display: flex;
    align-items: center;
    padding: $modal-padding;
    // background-color: $light;
    border-bottom: $card-border-width solid $gray-1;
    &:first-child { border-radius: $modal-border-radius $modal-border-radius 0 0 }
}

.modal-close {
    @extend %close;
    color: $secondary;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-left: auto;
    // width: $modal-close-size;
    // min-width: $modal-close-size;
    // height: $modal-close-size;
    // color: $secondary;
    // font-size: $text-size-xlarge;
    // // border-style: none;
    // // border-radius: $radius-full;
    // // background-color: rgba($secondary, .05);
    // cursor: pointer;
}

.modal-title {
    font-family: $font-main;
    font-size: $text-size-large;
    font-weight: $font-weight-500;
    margin-bottom: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    min-height: $height-min;
    padding: $modal-padding;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: $modal-padding;
    border-top: $card-border-width solid $gray-1;

    > * { margin-left: $modal-footer-margin }

    &:last-child { border-radius: 0 0 $modal-border-radius $modal-border-radius}

}