.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $navbar-padding 0;
    // font-family: $font-main;

    .container, .container-wide {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

}

.nav {
    display: flex;
    list-style: none;
    .nav-item {
        display: block;
        padding: $nav-item-padding-y $nav-item-padding-x;
        transition: $navbar-transition;

        &.selected { font-weight: $font-weight-600 }
    }
}

.navbar-dark {
    .nav-item {
        // color: $navbar-light-color;
        color: rgbaToRgb(rgba($light, .85), $gray-4);
        &:focus, &:hover, &.selected  { color: $white }
    }
}

.navbar-light {
    .nav-item {
        // color: $navbar-dark-color;
        color: rgbaToRgb(rgba($dark, .65), $light);
        &:focus, &:hover, &.selected { color: $dark }
    }
}
