.pagination {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    @include prefix('user-select', none);
    
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $page-size;
        width: $page-size;
        min-width: $page-size;
        margin: 0 $page-item-margin;
        border: $page-border-width solid $gray-2;
        border-radius: $radius-full;
        background-color: $white;
        font-size: $page-font-size;
        font-weight: $font-heavy;
        transition: $page-transition;
        cursor: pointer;
        &:not(.disabled):not(.selected):hover {
            border-color: transparent !important;
            background-color: darken($light, $darken);
        }
        &.disabled {
            opacity: $disabled;
            &, & > * { cursor: default }
        }
        &.selected {
            color: $light;
            background-color: $primary;
            border-color: transparent !important;
        }
    }

    &.page-sm {
        >  li {
            height: $page-size-sm;
            width: $page-size-sm;
            min-width: $page-size-sm;
            font-size: $page-font-size-small;
        }
    }

    &.page-lg {
        > li {
            height: $page-size-lg;
            width: $page-size-lg;
            min-width: $page-size-lg;
            font-size: $page-font-size-large;
        }
    }

}

