%definition-shd {
    border: none !important;
}

@each $color, $value in $theme-colors {
    .shd-sm-#{$color} {
        @extend %definition-shd;
        box-shadow: $shadow-sm rgba($value, .25);
    }
}
@each $color, $value in $theme-colors {
    .shd-#{$color} {
        @extend %definition-shd;
        box-shadow: $shadow rgba($value, .25);
    }
}
@each $color, $value in $theme-colors {
    .shd-lg-#{$color} {
        @extend %definition-shd;
        box-shadow: $shadow-lg rgba($value, .25);
    }
}

.shd-smooth {
    @extend %definition-shd;
    box-shadow: $shadow-smooth rgba($dark, .15);
}
