.table {
    width: 100%;
    margin: $table-margin-bottom 0;
    vertical-align: top;
    td, th {
        padding: $table-row-padding;
        border-bottom: $table-border-width solid $gray-2;
        text-align: left;
    }
    &.table-fixed { table-layout: fixed }
    &.table-border {
        td, th { border: $table-border-width solid $gray-2 }
    }
    &.table-center {
        td, th { text-align: center }
    }
}

thead tr, tr:hover, tr.selected {
    background-color: $light;
}