// Variables

// As variáveis deve ter a assinatura de nomeação: '$componente-estado-propriedade-tamanho'

// Base number
$phi:                   1.61803398875;

// Proportions (unit maintained/equivalent unit)
$rem-px:                1rem/16;
$rem-rem:               1rem/1;
$px-px:                 1px/1;
$per-per:               1%/1;

$xsmall:                pow($phi, 2);
$small:                 pow($phi, 3);
$regular:               pow($phi, 4);
$large:                 pow($phi, 5);
$xlarge:                pow($phi, 6);

$sizes: () !default;
$sizes: map-merge(
    (
        xs: $xsmall,
        sm: $small,
        md: $regular,
        lg: $large,
        xl: $xlarge
    ),
    $sizes
);

// Paddings
$padding-xsmall:        $xsmall;
$padding-small:         $small;
$padding:               $regular;
$padding-large:         $large;
$padding-xlarge:        $xlarge;

// Margins
$margin-xsmall:         $xsmall;
$margin-small:          $small;
$margin:                $regular;
$margin-large:          $large;
$margin-xlarge:         $xlarge;

// Fonts
// $font-main:             'Open Sans', sans-serif !default;
$font-main:             sans-serif !default; // Remove font-family attribute of the components
$font-size-small:       0.838196601125rem !default;
$font-size:             1rem !default;
$font-size-large:       1.161803398875rem !default;
$font-weight-bold:      bold !default;
$font-weight-600:       600 !default;
$font-weight-500:       500 !default;
$font-weight-400:       400 !default;
$font-weight-300:       300 !default;

// Radius
$radius-xsmall:         $xsmall * $rem-px;
$radius-small:          $small * $rem-px;
$radius:                $regular * $rem-px;
$radius-large:          $large * $rem-px;
$radius-xlarge:         $xlarge * $rem-px;
$radius-full:           50%;

// Heights
$height-min:            1px !default;
$height-large:          $xlarge * $rem-px !default;

// Colors
$black:             #000000 !default;
$white:             #ffffff !default;
$primary:           #5e72e4 !default;
// $primary:           #015e89 !default;
// $primary:           #4795fd !default;
$secondary:         #777777 !default;
$light:             #f8f9fa !default;
// $light:             #fafcff !default;
$dark:              #363c42 !default;
// $dark:              #343a40 !default;
$red:               #ff3155 !default;
$green:             #49e36b !default;
$blue:              #2daefd !default;
$orange:            #ffaf42 !default;
$yellow:            #ffed5e !default;
$purple:            #b967ff !default;
$cyan:              #19b6cf !default;
$pink:              #ff99ff !default;

$gray-9:            #1a1a1a !default;
$gray-8:            #333333 !default;
$gray-7:            #4d4d4d !default;
$gray-6:            #666666 !default;
$gray-5:            #808080 !default;
$gray-4:            #999999 !default;
$gray-3:            #b3b3b3 !default;
$gray-2:            #cccccc !default;
$gray-1:            #e6e6e6 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        dark:           $dark,
        light:          $light,
        primary:        $primary,
        secondary:      $secondary,
        red:            $red,
        green:          $green,
        blue:           $blue,
        orange:         $orange,
        // yellow:         $yellow,
        purple:         $purple,
        cyan:           $cyan,
        pink:           $pink
    ),
    $theme-colors
);

// Breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// Fonte
// $font-small:            .8rem !default;
// $font-normal:           1rem !default;
// $font-large:            1.2rem !default;

// Altura
// $height-large:          3rem !default;
// $height:                2rem !default;
// $height-small:          1rem !default;

// Timers
$time-slower:           1.4s * $phi !default;
$time-slow:             1s * $phi !default;
$time:                  .6s * $phi !default;
$time-fast:             .2s * $phi !default;
$time-faster:           .1s * $phi !default;



// Estilo global de rápido acesso

$enable-grid:           true !default;
$enable-rounded:        true !default;

$body-color:            $gray-9 !default;
$width-min:             1px !default;
$darken:                15% !default;
$lighten:               20% !default;
$disabled:              .3 * $phi;

// Alerts
$alert-border-width:    1px !default;
$alert-border-radius:   $radius !default;
$alert-padding:         $padding-xlarge * $rem-px !default;
$alert-padding-right-lg:2.5rem !default;
$alert-close-offset:    $margin * $rem-px !default;

// Grids
$number-cols:           12 !default;
$col-padding-x:         $padding * $px-px !default;
$col-padding-y:         0 !default;
$container-width:       100% - $xlarge * $per-per !default;
$container-wide-width:  100% - $regular * $per-per !default;

// Fonts
$text-size-xsmall:      9pt !default;
$text-size-small:       12pt !default;
$text-size:             1rem !default;
$text-size-large:       15pt !default;
$text-size-xlarge:      18pt !default;
$font-heavy:            600 !default;

// Badge
$badge-font-size:       0.838196601125em !default;
$badge-padding-x:       $padding * $rem-px !default;
$badge-padding-y:       $padding-small * $rem-px !default;
$badge-border-radius:   $radius-small !default;
$badge-font-weight:     $font-weight-bold !default;
$badge-color:           $light !default;

// Buttons
$button-cursor:         true !default;
$button-border-width:   1px !default;
$button-transition:     $time-faster ease !default;

$bt-padding-y:          $padding-large * $rem-px !default;
$bt-padding-x:          $padding * $rem-px !default;
$bt-font-size:          $font-size  !default;
$bt-border-radius:      $radius-small  !default;

$bt-padding-y-sm:       $padding * $rem-px !default;
$bt-padding-x-sm:       $padding-small * $rem-px !default;
$bt-font-size-sm:       $font-size-small  !default;
$bt-border-radius-sm:   $radius-small  !default;

$bt-padding-y-lg:       $padding-xlarge * $rem-px !default;
$bt-padding-x-lg:       $padding-large * $rem-px !default;
$bt-font-size-lg:       $font-size-large  !default;
$bt-border-radius-lg:   $radius-small  !default;

// Navbar
$navbar-padding:        $padding * $rem-px !default;
$nav-item-padding-x:    $padding-large * $rem-px !default;
$nav-item-padding-y:    $padding * $rem-px !default;
$navbar-transition:     $time-faster linear !default;
$navbar-light-color:    #d4d9dd !default;
$navbar-dark-color:     #525457 !default;

// Cards
$card-padding:          $padding-xlarge * $rem-px !default;
$card-background-color: $white !default;
$card-border-width:     1px !default;
$card-border-radius:    $radius;
$card-height-min:       1px !default;
$card-font-size:        1rem;

// Forms
$form-border-width:     1px !default;
$form-transition:       $time-faster ease !default;
$form-label-margin-sm:  $margin-xsmall * $rem-px !default;
$form-label-margin-lg:  $margin * $rem-px !default;

$form-padding-x-sm:     $padding-small * $rem-px !default;
$form-padding-y-sm:     $padding * $rem-px !default;
$form-border-radius-sm: $radius !default;

$form-padding-x:        $padding * $rem-px !default;
$form-padding-y:        $padding-large * $rem-px !default;
$form-border-radius:    $radius !default;

$form-padding-x-lg:     $padding * $rem-px !default;
$form-padding-y-lg:     $padding-large * $rem-px !default;
$form-border-radius-lg: $radius !default;

$form-input-size:       $xlarge * $rem-px !default;
$form-input-radius:     $radius-small !default;
$form-input-transition: $time-fast ease !default;
$form-input-shadow:     0 0 $regular * $px-px !default;

// Images
$img-border-radius:     $radius !default;

// Loaders
$loader-size-sm:        $small * $rem-rem/2 !default;
$loader-size:           $regular * $rem-rem/2 !default;
$loader-size-lg:        $large * $rem-rem/2 !default;
$loader-border-width:   5px !default;
$loader-animation-time: $time !default;
$progress-border-radius:$radius-small !default;
$progress-height:       $height-large !default;
$progress-font-size:    $font-size-small !default;
$progress-transition:   $time ease !default;

// Modals
$modal-color:           $white !default;
$modal-border-width:    1px !default;
$modal-padding:         $padding-xlarge * $rem-px !default;
$modal-background-color:$white !default;
$modal-border-width:    1px !default;
$modal-border-radius:   $radius !default;
$modal-height-min:      1px !default;
$modal-font-size:       1rem !default;
$modal-footer-margin:   $margin-small * $rem-px !default;
$modal-close-size:      1rem !default;
$modal-overlay-alpha:   .25 !default;

// Paginations
$page-size-sm:          $small * $rem-px + 1.8rem !default;
$page-size:             $regular * $rem-px + 2.2rem !default;
$page-size-lg:          $large * $rem-px + 2.7rem !default;
$page-border-width:     1px !default;
$page-transition:       $time-faster ease !default;
$page-font-size-small:  $font-size-small !default;
$page-font-size:        $font-size !default;
$page-font-size-large:  $font-size-large !default;
$page-item-margin:      $margin * $rem-px !default;

// Shadows
$shadow-sm:             0 $xsmall * $px-px $regular * $px-px !default;
$shadow:                0 $small * $px-px $large * $px-px !default;
$shadow-lg:             0 $regular * $px-px $xlarge * $px-px !default;
$shadow-smooth:         0 4px 11px;

// Tables
$table-margin-bottom:   $margin-large * $rem-px !default;
$table-row-padding:     $padding-large * $rem-px !default;
$table-border-width:    1px !default;
