// Mixin para botão colorido
@mixin button-color (
    $color,
    $value,
    $bg-hover: darken($value, $darken)
) {
    color: if($value == $yellow or $value == $light,
                $dark,
                $light);
    background-color: $value;
    &:hover, &:focus {
        background-color: $bg-hover;
    }
}

// Minix para botão colorido vazado
@mixin button-color-out (
    $color,
    $value,
) {
    color: darken($value, $darken);
    font-weight: $font-weight-600;
    // @if $value == $pink {
    //     background-color: lighten($value, 16%) !important;
    // } @else if $value == $yellow or $value == $purple {
    //     background-color: lighten($value, 24%) !important;
    // } @else {
    //     background-color: lighten($value, 32%) !important;
    // }
    background-color: rgbaToRgb(rgba($value, .25)) !important;
 
}

// Mixin para tamanho do botão
@mixin button-size ($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    @if $enable-rounded {
        border-radius: $border-radius;
    }
}