// Mixin para tamanho do cartão
@mixin card-size ($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    @if $enable-rounded {
        border-radius: $border-radius;
    }
}

@mixin card-radius-top ($value) {
    border-radius: $value $value 0 0;
}

@mixin card-radius-bottom ($value) {
    border-radius: 0 0 $value $value;
}