@mixin form-size ($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    @if $enable-rounded {
        border-radius: $border-radius;
    }
}

@mixin form-box-shadow ($color) {
    border-color: transparent !important;
    // box-shadow: 0 0px 3px 2px rgba($color: $color, $alpha: .25),
    //             0 1px 2px 1px rgba($color: $color, $alpha: .3);
    // box-shadow: 0 2px 6px rgba($color, .25);
    box-shadow: 0 4px 11px rgba($color, .25);
}